<h1 class="w-full pb-5 mb-5 border-b border-gray-200">Les six premiers Pokémons :</h1>

<h2 class="text-sm mb-4">{{noPokemon}} en base de données</h2>

<div class="grid grid-cols-3 gap-10">
    @for (pokemon of pokemons; track $index) {

        <ul class="border-l border-gray-200 pl-4 mt-4">
            <img [src]="pokemon.sprites.front_default" alt="{{pokemon.name}}">
            <h3>Nom: {{pokemon?.name}}</h3>
            <li>Taille : {{pokemon.height / 100}} m</li>
            <li>Poids : {{pokemon.weight ? pokemon.weight / 100 : "N/A"}} kg</li>
        </ul>
    }

</div>